.hide {
    display:none;
}

body {
    font-family: Arial;
    margin: 0;
    text-align: center;
  }
  
header {
    padding: 60px;
    text-align: center;
    background: #13293d;
    color: #fff;
  }

  main {
    display: flex;
  }

button {
    background-color: rgb(178, 139, 215);
    font-weight: bold;
}